- current_conversation = nil unless local_assigns[:current_conversation]
%ul.media-list#conversations
  - @conversations.each do |conversation|
    %li.media
      = link_to my_conversation_path(conversation), class: 'pull-left' do
        = image_tag conversation.sender(current_user).avatar.url(:thumb), class: 'media-object'
      .media-body
        %h4 conversation.name(current_user)
        .media
          = conversation.body

= link_to "Nuevo mensaje", new_my_conversation_path, class: 'btn'
