= "Buenas noticias, #{@owner.first_name}"

= "A #{@by.name} le ha gustado  uno de tus productos en Manuable. ¡Eso es genial!"
Quizás quieran ponerse en contacto. Tal vez hasta se lleve uno.

'https://www.manuable.com'