Hola
= @user.first_name
%p
  Confío en que te encuentras bien, quiero agradecerte personalmente por darle la oportunidad a Manuable

  y crear una cuenta con nosotros. Hemos estado trabajando muy duro desde el 2012 pasado, para la

  construcción de una herramienta que sirva a los artesanos y artistas mexicanos a compartir su trabajo y

  promover sus creaciones, así como a usuarios que buscan descubrir increíbles productos hechos a mano.

%p
  Manuable te ayudará a compartir lo que estás vendiendo, llegando a personas

  interesadas en lo que haces, así como a descubrir de manera sencilla ese producto que quieres encontrar.

%p.text-center
  ¿Cómo puedes usar Manuable?
%p.text-center
  Puedes crear un perfil para compartir de forma gratuita tus productos hechos a mano.
%p.text-center
  Te ayudamos a organizar y publicar tu evento o mercadito con una herramienta de organización.

%p
  Estamos aquí para ayudarte a sacar el mayor beneficio a una aplicación como Manuable, compartiendo

  y descubriendo productos con propuestas diferentes.

%p
  Somos un equipo que disfruta conocer a personas

  talentosas que les gusta diseñar su propia ropa o joyería, hacer jabones, aprender de lo artesanal,
  pero sobre todo que les gusta hacer algo especial.

%p
  Si tienes alguna duda envíame un correo electrónico.
%p
  Por último, si buscas un mercado más honesto, estás en el sitio correcto.
%p
  Gracias de nuevo y disfruta el descubrir productos hechos a mano.
%br
%br
= link_to "Comienza a compartir tus productos", new_product_url, id: 'comparte_producto'
%br
%br
%div{ style: "background-image: url('#{image_path('claudio.jpg')}'); width:100px; height: 100px; border-radius:50px;margin: 0 auto;background-position: 50% 2%;background-size: 100%;background-repeat: no-repeat;" }
%p.text-center
  Saludos,
  %br
  Claudio Tello
%p.text-center
  %a{ href: 'https://www.manuable.com'}
    manuable.com
  %br
  %a{ href: 'mailto:claudio@manuable.com'}
    claudio@manuable.com
  %br
  %a{href: 'https://twitter.com/claudio_tello'}
    @claudio_tello
