Hola
= @user.name
%p
  Confío en que te encuentras bien, quiero agradecerte personalmente por darle la oportunidad a Manuable
  %br
  y crear una cuenta con nosotros. Hemos estado trabajando muy duro desde el año pasado, para la
  %br
  construcción de una herramienta que sirva a los artesanos y artistas mexicanos a compartir su trabajo y
  %br
  promover sus creaciones, así como a usuarios que buscan descubrir increíbles productos hechos a mano.

%p
  Manuable te ayudará a compartir lo que estás haciendo y lo que estás vendiendo, para encontrar a personas
  %br
  interesadas en lo que haces, así como a descubrir de manera sencilla ese producto que quieres encontrar.
%p
  Estamos aquí para ayudarte a sacar el mayor beneficio a una aplicación como Manuable, compartiendo
  %br
  y descubriendo productos con propuestas diferentes. Somos un equipo que disfruta conocer a personas
  %br
  talentosas que les gusta diseñar su propia ropa o joyería, hacer jabones, aprender de lo artesanal, crear ellos
  %br
  mismos. Si tienes alguna duda envíame un correo electrónico.
%p
  Por último, si buscas un mercado más honesto estas en el sitio correcto.
%p
  Gracias de nuevo y disfruta el descubrir productos hechos a mano!

Claudio Tello
%br
Creador y Director
%br
%a{ href: 'http://manuable.com'}
  Manuable.com
%br
811-794-0111
%br
%a{ href: 'mailto:claudio@manuable.com'}
  claudio@manuable.com
%br
Mi Twitter
%a{href: 'https://twitter.com/claudio_tello'}
  @claudio_tello
