<div class="footer">
	<div class="footer-centered">
		<p>Manuable © 2014</p>
		<%= link_to 'Nosotros', '#' %>
		<%= link_to 'Términos y Condiciones', '#' %>
		<a href="http://manuable.tumblr.com">Blog</a>
		<a href="http://twitter.com/manuable">Twitter</a>
		<a href="http://facebook.com/manuable">Facebook</a>
	</div>
</div>