.product-box
	.avatar-action
		.lateral-box.user-avatar.well
			%a{:href => "elusuario"}
				%img{:src => "/images/matusperfil.jpeg"}
		.lateral-box.want-learn.well{"data-original-title" => "Quiero aprender", "data-toogle" => "tooltip"}
			%a{:href => "learn/#{product_main_info.id}"}
				%h1
					%i.icon-lightbulb
		.lateral-box.want-buy.well{"data-original-title" => "Quiero comprar", "data-toogle" => "tooltip"}
			%a{:href => "buy/#{product_main_info.id}"}
				%h1
					%i.icon-shopping-cart
	.product-picture
		%img{:src => product_main_info.attachments.first.try(:attachment)}
	.product-description
		.author-title
			%h4
				= product_main_info.name
		.author-message
			= product_main_info.about
		.product-tags
			"#gato #genético #futurista #leon #grifo"
	.product-process
		.thumbnail-title
			%h4
				Proceso de elaboración
		.thumbnail-box
			.thumbnail-one.thumbnail-process
				%img{:src => product_main_info.attachments.first.try(:attachment)}
			.thumbnail-two.thumbnail-process
				%img{:src => product_main_info.attachments.first.try(:attachment)}
			.thumbnail-three.thumbnail-process
				%img{:src => product_main_info.attachments.first.try(:attachment)}
