%h3 !Bienvenidos a manuable!
%h4 Descubre y comparte productos hechos a mano

= render "/shared/popup_product_type"
= render "/shared/popup_product_status"
= render "/shared/popup_product_description"
