</div>

<div id="welcome">
	<div id="fold">
		<div class="logo-center"><%= image_tag "logo.svg", class: "fold-logo" %></div>
		<h1>Compra local, compra hecho a mano</h1>
		<h2>Descubre los mejores productos hechos por diseñadores, artesanos y artistas de tu ciudad</h2>
	</div>
</div>

<div class="container">
	
	<div class="city-block">
		<div class="city-label">
			<h3>Monterrey</h3>
		</div>
		<div class="premium-user">
			<a href="http://manuable.com/lafloristeria">
				<img src="http://40.media.tumblr.com/8baac34de8e6a4fe3285da7070cbbfc4/tumblr_nfzw1lm4HQ1tuwd26o1_500.jpg"/>
				<div class="premium-user-label">
					<p>Alma y Paulina, de La Floristería</p>
				</div>
			</a>
		</div>
		<div class="premium-user">
			<a href="http://manuable.com/users/572">
				<img src="http://38.media.tumblr.com/e84e71ad50febe480e1ebd4531b80b5a/tumblr_ne059mnjQN1tuwd26o2_1280.jpg"/>
				<div class="premium-user-label">
					<p>Pancho y Liliana, de Ahal</p>
				</div>
			</a>
		</div>			
		<div class="premium-user">
			<a href="http://manuable.com/suchfun">
				<img src="http://38.media.tumblr.com/89a10923fb352263a0969561b7ca0de3/tumblr_ne059mnjQN1tuwd26o4_1280.jpg">
				<div class="premium-user-label">
					<p>Lila Miller, de Such Fun</p>
				</div>
			</a>
		</div>
		<div class="premium-user">
			<a href="http://www.manuable.com/users/12">
				<img src="http://41.media.tumblr.com/b0399a50fdd0aa411c730a3f895ef831/tumblr_nfzvtqQj5H1tuwd26o2_500.jpg">
				<div class="premium-user-label">
					<p>Novy Montemayor</p>
				</div>
			</a>
		</div>
		<div class="premium-user">
			<a href="http://manuable.com/elzaguan">
				<img src="http://40.media.tumblr.com/0aada0d3a66a159044f52f889f52b8c6/tumblr_nfzvtqQj5H1tuwd26o1_500.jpg">
				<div class="premium-user-label">
					<p>Mauricio Villarreal, de El Zaguan</p>
				</div>
			</a>
		</div>
	</div>
	
	<div class="city-block">
		<div class="city-label">
			<h3>Saltillo</h3>
		</div>
		<div class="premium-user">
			<a href="http://www.manuable.com/users/462">
				<img src="http://38.media.tumblr.com/cb8c480c1f1f53516ed555f7c31d3622/tumblr_ne9mn4asxH1tuwd26o2_500.jpg">
				<div class="premium-user-label">
					<p>Fer Zúñiga, de Ferzu</p>
				</div>
			</a>
		</div>
	</div>

	<div class="city-block">
		<div class="city-label">
			<h3>Ciudad Victoria</h3>
		</div>
		<div class="premium-user">
			<a href="#">
				<img src="http://38.media.tumblr.com/efaf3773bc0964fc37b74078e5dcf0ce/tumblr_ne064h47xe1tuwd26o1_1280.jpg"/>
				<div class="premium-user-label">
					<p>Adriana, de Las Torres Guayaberas</p>
				</div>
			</a>
		</div>
		<div class="premium-user">
			<a href="http://www.manuable.com/users/59">
				<img src="http://33.media.tumblr.com/7353e485a714a7ac0de5a11feb534d10/tumblr_nea8ceDstQ1tuwd26o1_500.jpg">
				<div class="premium-user-label">
					<p>Lety Flores, de Alkimia Joyería</p>
				</div>
			</a>
		</diV>
	</div>

</div><!--Container Div End -->

<div class="premium-banner">
	<h2>Tu tienda en Manuable</h2>
	<h3>¿Eres diseñador, artesano o artista?</h3>
	<div class="text-box">
		<p>Si eres un productor local y haces tus propios productos, Manuable quiere ayudarte a vender. Te ayudamos a resolver desde tu tienda en línea, un lector de tarjeta, descuento en envios locales y nacionales, </p>
	</div>
	<div class="center-button"><a href="http://premium.manuable.com" class="banner-premium-button">Quiero vender en Manuable</a></div>
</div>
<!--
<div class="press">
	<h3>Ellos hablan y confian en Manuable</h3>
</div>
-->