</div>

<div id="welcome">
	<div id="fold">
		<div class="logo-center"><%= image_tag "logo.svg", class: "fold-logo" %></div>
		<h1>Compra local, compra hecho a mano</h1>
		<h2>Descubre los mejores productos hechos por diseñadores y artistas de tu ciudad</h2>
	</div>
</div>

<div class="container container-pusher">
	<div class="cart-item-divider"></div>
	<h3>Monterrey</h3>
	<div class="cart-item-divider"></div>
	
	<a href="http://manuable.com/users/568"><img src="http://33.media.tumblr.com/9e6c69544f54205b849bf11591681fe0/tumblr_ne42q4H3vE1tuwd26o1_500.jpg"/></a>
	<a href="http://manuable.com/users/572"><img src="http://38.media.tumblr.com/e84e71ad50febe480e1ebd4531b80b5a/tumblr_ne059mnjQN1tuwd26o2_1280.jpg"/></a>
	<a href="http://manuable.com/suchfun"><img src="http://38.media.tumblr.com/89a10923fb352263a0969561b7ca0de3/tumblr_ne059mnjQN1tuwd26o4_1280.jpg"></a>
	</br>
	</br>
	</br>
	</br>
	<div class="cart-item-divider"></div>
	<h3>Saltillo</h3>
	<div class="cart-item-divider"></div>

	<a href="http://www.manuable.com/users/462"><img src="http://38.media.tumblr.com/cb8c480c1f1f53516ed555f7c31d3622/tumblr_ne9mn4asxH1tuwd26o2_500.jpg"></a>
	</br>
	</br>
	</br>
	</br>
	<div class="cart-item-divider"></div>
	<h3>Cd. Victoria</h3>
	<div class="cart-item-divider"></div>

	<a href="#"><img src="http://38.media.tumblr.com/efaf3773bc0964fc37b74078e5dcf0ce/tumblr_ne064h47xe1tuwd26o1_1280.jpg"/></a>
	<a href="http://www.manuable.com/users/59"><img src="http://33.media.tumblr.com/7353e485a714a7ac0de5a11feb534d10/tumblr_nea8ceDstQ1tuwd26o1_500.jpg"></a>

</div>