</div>
<div id="welcome">
	<div id="myDiv">
		<h1>Compra local, compra hecho a mano</h1>
		<h2>Descubre los mejores productos hechos por diseñadores y artistas de tu ciudad</h2>
	</div>
</div>
<div class="container">
	<p>Esto debe ir dentro del container</p>
</div>