<div class="checkout-wrapper">
		<img src="http://33.media.tumblr.com/f21a32e711695c65462538fffd8b31ad/tumblr_ne07n6dWVS1tuwd26o3_500.jpg" class="image-center">
		<h1 class="mi-carrito">Compra Local</h1>
		<p class="mi-carrito">Comprar Local es la mejor forma de conectar a la gente que busca productos hechos con amor, con artesanos, diseñadores y artistas locales de su ciudad.</p>
		
		<div class="line-divider"></div>

		<img src="http://33.media.tumblr.com/07615e222fa0e3a2dc49ffbed86a95a8/tumblr_ne07n6dWVS1tuwd26o2_500.jpg" class="image-center">
		<h2 class="mi-carrito">Cerca de ti</h2>
		<p class="mi-carrito">Puedes ponerte de acuerdo con el artesano o productor local sobre el punto de entrega más cercano. El taller, el mercadito o el café más cómodo para los dos, puede ser la mejor forma de conocer los productos.</p>
		
		<div class="line-divider"></div>

		<img src="http://33.media.tumblr.com/592d48f0ee832c149cf411ecd2a339d6/tumblr_ne07n6dWVS1tuwd26o1_500.jpg" class="image-center">
		<h3 class="mi-carrito">Confirma en línea</h3>
		<p class="mi-carrito">Reciba notificación en tu correo o confirma dentro de Manuable una vez que hayas recibido la entrega.</p>
		
		<div class="line-divider"></div>

		<img src="http://38.media.tumblr.com/6123e8a74175f07c9951b46ad52153b8/tumblr_ne07n6dWVS1tuwd26o5_500.jpg" class="image-center">
		<h3 class="mi-carrito">Confirma personalmente</h3>
		<p class="mi-carrito">Comprar en Manuable es seguro, ya que personalmente nos encargamos de confirmar que la entrega fue realizada.</p>
		
		<div class="line-divider"></div>

		<img src="http://38.media.tumblr.com/f5ca04318ab670f7f9d2e765b7c85fce/tumblr_ne07n6dWVS1tuwd26o4_500.jpg" class="image-center">
		<h3 class="mi-carrito">Acercamos el comercio local</h3>
		<p class="mi-carrito">Manuable crea las herramietnas digitales para ayudarte a comprar, descubrir y conectar al comercio local con la ciudad.</p>
		
		<div class="line-divider"></div>
</div>