.row
  .span7.offset2
    = simple_nested_form_for @event, html: { } do |f|
      = render partial: 'form', locals: { f: f }

      = f.button :wrapped, cancel: (params[:modal] == '1' ? 'close-modal' : new_my_product_path)

- content_for :script do
  / :plain
  /   $(document).ready(function(){
  /     $('#event_description, #event_benefits, #event_notes').markItUp(MarkdownSettings);
  /   });
