.row
  .span6
    .text-center
      Antes de enviar tu solicitud como expositor al evento, asegúrate de
      %strong actualizar tu perfil
      dentro de Manuable. También es necesario que subas algunos de tus productos,
      esto ayudará a los visitantes a saber que estarás participando en el evento.

      .clearfix

      - if event_request = @event.event_requests.where(user_id: current_user.id).first
        - if event_request.accepted.nil?
          .btn.btn-warning.disabled
            Esperando respuesta
        - elsif event_request.accepted
          .btn.btn-success.disabled
            Aceptada
        - else
          .btn.btn-danger.disabled
            Rechazada
      - else
        - if @event.seats_left?
          %br
          = link_to 'Solicitar acceso', request_access_event_path, class: 'btn btn-info', method: :post
          %br
          %br
          %p
            Llena tu nombre, correo, fotografía y acerca de ti en:
            = link_to 'Mi información', edit_my_profile_path(f: 's')
            %br
            Y tus productos en:
            = link_to 'Vende', new_my_product_path, "data-toggle" => "modal", :href => "#product_wizard", :role => "button"
        %br
        %br
