.profile-product-card
  = link_to my_product_path(product), title: (product.name.present? ? product.name : "--") do
    - if att = product.attachments.first || product.attachments.build
      = product_image_tag att, :medium
  .actions
    = link_to "<i class='fa fa-pencil'></i>".html_safe, edit_my_product_path(product)
    = link_to "<i class='fa fa-times'></i>".html_safe, my_product_path(product), method: :delete, confirm: "Está seguro que desea eliminar este producto?"
