%h1.text-center
  500
%h2.text-center
  Sucedio un error, disculpa la molestia.
  %br
  Mientras lo corregimos disfruta este video.

%div{ style: 'width: 560px; margin: 50px auto; '}
  %iframe{ width: "560", height: "315", src: "http://www.youtube.com/embed/OQzJR3BqS7o?autoplay=1", frameborder: "0", allowfullscreen: true }

