/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require prefixed-props
 *= require datepicker
 *= require font-awesome.min
 *= require bootstrap-modal
 *= require jquery.jcrop.min
 *= require_self
 *= require_tree .
 */

body
  /* For footer */
  padding-bottom: 30px
  background: #FFF
  font-family: 'Open Sans', sans-serif

#footer
  background: #ffffff
  margin-top: 5px
  text-align: center
  border-top: 1px solid #dedede
  position: fixed
  width: 100%
  bottom: 0


#footer .p
  font-size: 12px
  margin-top: 5px

#home-index
  h1,h4
    text-align: center
    color: #808285
#sign_popup
  a.login-service
    font-size: 100px
    display: inline-block
    margin: 0 20px
    text-decoration: none
.top-spacer
  margin-top: 35px

#notifications
  a.dropdown-toggle
    // padding: 10px
    i.icon-bell-alt
      color: #90E4FF
      text-shadow: -1px 0px 0px #0087B3
    &:hover
      i.icon-bell-alt
        color: #fff
  .dropdown-menu

  .notification
    img
      width: 30px
  .notification.read
    background: #f5f5f5
    color: #888
    &:hover
      color: #333
#notifications.active
  a.dropdown-toggle
    i.icon-bell-alt
      color: #b94a48
      text-shadow: -1px 0px 0px #550200
    &:hover
      i.icon-bell-alt
        color: #b94a48
