#new-event-map
  width: 100%
  height: 250px
  margin-bottom: 20px
#event-map
  width: 100%
  height: 250px
  margin-bottom: 20px

.user-avatar.organizer
  width: 25px
#oxxo-payment-option
  text-align: center
  a
    display: block
    margin: 20px 0

