#new-event-map
  width: 100%
  height: 250px
  margin-bottom: 20px
#event-map
  width: 100%
  height: 250px
  margin-bottom: 20px

.user-avatar.organizer
  width: 25px
#oxxo-payment-option
  text-align: center
  a
    display: block
    margin: 20px 0
.section-content
  background-color: #fff
  width: 740px
  margin: 0 auto
  padding: 20px 30px
.nav-pills.event-nav.affix
  top: 40px
  left: 50%
  margin-left: -400px
.nav-pills.event-nav
  width: 740px
  margin: 0 auto
  background: #fff
  padding: 0 30px
  a
    margin: 0
    color: #fff
    text-decoration: underline
    font-weight: bold
    font-size: 18px
    height: 40px
    display: block
    line-height: 20px
    background-color: #B46AB2
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
  .active
    a
      background-color: #92278F
.nav.event-nav
  >li
    >a
      &:hover, &:focus
        background-color: #B46AB2
.event-show
  font-family: 'Varela Round'
  background: #77b1b5
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3YjFiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3N2IxYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
  background: -moz-linear-gradient(left,  #77b1b5 0%, #2989d8 13%, #207cca 87%, #77b1b5 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#77b1b5), color-stop(13%,#2989d8), color-stop(87%,#207cca), color-stop(100%,#77b1b5))
  background: -webkit-linear-gradient(left,  #77b1b5 0%,#2989d8 13%,#207cca 87%,#77b1b5 100%)
  background: -o-linear-gradient(left,  #77b1b5 0%,#2989d8 13%,#207cca 87%,#77b1b5 100%)
  background: -ms-linear-gradient(left,  #77b1b5 0%,#2989d8 13%,#207cca 87%,#77b1b5 100%)
  background: linear-gradient(to right,  #77b1b5 0%,#2989d8 13%,#207cca 87%,#77b1b5 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77b1b5', endColorstr='#77b1b5',GradientType=1 )
  h5
    text-decoration: underline
  section#desc
    .section-content
      background-image: url(/assets/7sep/bg1.png)
      background-repeat: no-repeat
      background-position: 0 100%
  section
    h3
      color: white
      background-color: #999999
      padding: 0
      border: 5px solid #221f1f
      border-left: 0
      border-right: 0
      margin: 0
      font-size: 23px
      text-indent: 100px
    h4
      margin-bottom: 30px
      margin-top: 30px
      margin-left: -30px
      background-color: #000
      color: #fff
      text-decoration: underline
      padding: 10px
      width: 50%
    h4.purple
      background-color: #92278F
    h4.horizontal
      background-color: transparent
      color: #000
      margin: 0
      padding-left: 0
  .schedule
    list-style: none
    .schedule-time
      float: left
      padding: 5px
      background-color: #B46AB2
      color: #000
      display: block
    .schedule-name
      float: left
      border-bottom: 4px solid #92278F
      line-height: 13px
      display: block
      padding: 8px 0 0 10px
    .remove-event-schedule
      display: block
      padding: 3px
      float: left
  #artisans
    .artisan
      width: 100px
      float: left
      margin: 0 30px 30px 0
      hr
        margin: 0 0 10px 0
        border: 0
        border-top: 0
        border-bottom: 5px solid #000
      .name
        color: #000
        font-weight: bold
        text-decoration: underline
        text-indent: 5px
        display: block
      .location
        text-indent: 5px
        display: block
      a
        display: block
        color: #fff
        text-decoration: underline
        font-weight: bold
        background-color: #92278F
        text-align: center
        padding: 0px
        font-size: 11px
        width: 90px
        margin: 0 auto
  #musicians
    .musician
      float: left
      width: 100px
      margin-right: 30px
      margin-bottom: 25px
      img
        display: block
        width: 100px
      .name
        display: block
        padding: 5px 0
        text-decoration: underline
        color: #000
        font-size: 16px
  #call-to-action
    background-image: url(/assets/7sep/bg5.png)
    background-repeat: no-repeat
    background-position-y: 100%
    padding-bottom: 95px
    margin-top: 30px
    div
      font-size: 17px
      margin: 0
      height: 66px
      line-height: 23px
      display: inline-block
    div.sign
      font-size: 131px
      height: 86px
      margin-left: 30px
      margin-right: 30px
  .request-access
    display: block
    background-color: #92278F
    padding: 10px 15px
    color: #fff
    text-decoration: underline

  #organizer
    img
      display: block
    .name
      font-size: 15px
  #collaboration
    margin-top: 20px
    font-size: 11px
    img
      width: 50px
  .nodecoration
    text-decoration: none
  #talleres
    background-image: url(/assets/7sep/bg4.png)
    width: 100%
    margin: 0
    background-position: 100% 100%
    background-repeat: no-repeat
    background-position: 100% 100%
    padding: 50px 0 40px 0
    margin-top: -50px
  #cine
    background-image: url(/assets/7sep/bg3.png)
    width: 100%
    margin: 0
    background-position: 100% 100%
    background-repeat: no-repeat
    background-position: 100% 45px
    padding: 118px 0 70px 0
    margin-top: -107px
    background-size: 100%
  div#thankyou
    font-size: 30px
    line-height: 40px
  #artisans-bg
    background-image: url(/assets/7sep/bg1.png)
    background-repeat: no-repeat
    background-position: 100% 100%
    padding-bottom: 74px
  #benefits-bg
    background-image: url(/assets/7sep/bg2.png)
    background-repeat: no-repeat
    background-position: 100% 8px
    padding-bottom: 74px
    h4
      margin-bottom: 50px
  #observations-bg
    background-image: url(/assets/7sep/bg6.png)
    background-repeat: no-repeat
    background-position: 57% 0px
