$dark-gray: #333332;
$gray: #474747;
$light-gray: #cbcbcb;
$lightest-gray: #f2f2f2;
$blue-manuable: #44c1e0;
$blue-manuable-text-shadow: #1d95b3;
$p-regular: 15px;

.event-show {
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  h2 {
    font-size: 38px;
    font-weight: 600;
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  h5 {
    font-size: 14px;
    font-weight: 600;
  }
  h6 {
    font-size: $p-regular;
    font-weight: 600;
  }
  h1.event-name {
    width: 840px;
    margin: 0 auto 10px -4px;
  }
  section {
    width: 840px;
    margin: 10px auto;
    padding: 25px 180px;
    h3 {
      color: $gray;
      text-align: center;
    }
  }
  .event-brief {
    color: $light-gray;
  }
  .event-nav.affix {
    top: 40px;
    left: 50%;
    margin-left: -400px;
  }
  .event-nav {
    margin: 0 auto;
    background: white;
    z-index: 2;
    li {
      float: left;
      width: 33.33333%;
      list-style: none;
    }
    a {
      margin: 0;
      color: $gray;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      height: 40px;
      display: block;
      line-height: 20px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .active {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.request-access {
  display: block;
  background-color: $blue-manuable;
  padding: 10px 5px 10px 5px;
  color: white;
  text-decoration: none;
  width: 420px;
  margin: 0 auto;
  border-radius: 7px;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
}

.request-access.disabled {
  color: rgb(218, 218, 218);
  opacity: 1;
  background-color: #077792;
}

#event-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

#map {
  height: 420px;
  width: 530px;
}


#itinerary {
  background-color: $lightest-gray;
  .section-content {
    background-color: transparent;
  }
  h1.date {
    color: $dark-gray;
  }
  .iti-date-group {
    .time-range {
      color: $light-gray;
      font-size: $p-regular;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: block;
        padding: 5% 6%;
        margin: 0;
        width: 88.5%;
        list-style: none;
        &:nth-child(even) {
          background: $lightest-gray;
        }
        &:nth-child(odd) {
          background: $blue-manuable;
          color: white;
          text-shadow: 0px 1px 1px $blue-manuable-text-shadow;
        }
        .iti-time {
          float: left;
          width: 80px;
        }
        .iti-name {
          font-style: italic;
          word-break: break-word;
          overflow: hidden;
        }
      }
    }
  }
}

#artisans {
  .row-fluid{
    margin-bottom: 20px;
  }
  .artisan {
    width: 200px;
    float: left;
    position: relative;
    margin: 0 0 15px 10px;
    a {
      display: block;
    }
    .avatar {
      width: 200px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      // border: 1px solid $gray

    }
    .name {
      color: $gray;
      text-decoration: none;
      display: block;
      padding-left: 5px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

#event-tos {
  height: 150px;
  padding: 1px 30px;
  .request-access {
    margin: 10px 0 0 0;
    width: 80px;
    height: 70px;
    font-weight: bold;
  }
}

#checkbox-acceptance {
  padding-top: 60px;
  label {
    color: $gray;
  }
}

#semilla-map {
  a {
    display: block;
    width: 500px;
    margin: 20px auto 0 auto;
    font-size: 16px;
  }
}

#event-request-access {
  color: $gray;
  width: 800px;
}

#do-click {
  color: $dark-gray;
  font-size: 15px;
  margin: 17px 0 0 0;
  line-height: 17px;
}

#event-banners {
  .event-banner {
    display: block;
    border: 3px solid $blue-manuable;
    border-radius: 3px;
    padding: 40px 20px;
    margin: 10px 0;
    &:hover {
      text-decoration: none;
    }
    .event-banner-name {
      font-size: 18px;
      color: $blue-manuable;
      margin-bottom: 10px;
    }
    .event-banner-date, .event-banner-location {
      color: $light-gray;
      font-size: 14px;
    }
  }
}

#home-left-banner {
  margin-top: 25px;
  h3 {
    background-color: $lightest-gray;
    font-size: 18px;
    font-weight: normal;
    padding-left: 20px;
  }
}

#new-event-map {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

#event-map {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

#oxxo-payment-option {
  text-align: center;
  a {
    display: block;
    margin: 20px 0;
  }
}

.section-content {
  background-color: white;
  width: 740px;
  margin: 0 auto;
  padding: 20px 30px;
}

.request-access-modal {
  border: 0;
  h2 {
    margin: 0;
    padding: 0 0 0 30px;
    color: white;
  }
  .modal-header {
    display: none;
  }
  .modal-body {
    padding: 0;
  }
  .event-show {
    width: 700px;
    padding: 30px;
  }
  #benefits-observations {
    background: white;
    padding: 1px 30px;
    height: 500px;
    overflow: auto;
  }
}

#space-selector {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}





#Events-show {
  background-color: #eee;
}
.event{
  .container {
    width: 1060px;
    margin: 0 auto;
  }
  section{
    margin: 0 0 40px 0;
    h3{
      color: #a9a9a9;
      font-weight: 400;
      text-align: center;
    }
  }
  .mini-card {
    border-radius: 3px;
    box-shadow: 0px 12px 17px -13px #999;
    .mini-card-avatar{
      height: 197px;
      width: 237px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .mini-card-footer {
      height: 65px;
      border-left: 1px solid #d5d5d5;
      border-right: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
      border-radius: 0 0 3px 3px;
      background-color: #fff;
      text-align: center;
      padding-top: 1px;
      margin-top: -1px;
      .mini-card-name a {
        margin-top: 10px;
        display: block;
        color: #000;
        font-weight: 400;
      }
      .mini-card-location a {
        color: #000;
        font-weight: 300;
      }
    }
  }
  .card {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 12px 17px -13px #999;
    .card-padding { padding: 40px 70px; }
    .card-mini-padding { padding: 40px 30px; }
    .card-present {
      background: white;
      text-align: center;
    }
    .card-present, .card-detail {
      width: 50%;
      overflow: hidden;
    }
  }
  .request-access {
    max-width: 160px;
    margin: 35px auto 0 auto;
    background-color: #1dda71;
    border-radius: 3px;
    color: #fff;
    padding: 20px 80px;
    font-weight: 600;
    font-size: 15px;
    text-shadow: 0 1px 0 #16AF6E;
  }
  #organizers {
    .user-avatar {
      border-radius: 0;
    }
  }
  #desc{
    color: #a9a9a9;
  }
  #benefits{
    .card {
      h3 {
        border-bottom: 1px solid #dadada;
        color: #888;
        .fa-star{
          float: left;
          color: #fbe194;
          display: block;
          padding: 7px;
          background-color: #f5f5f5;
          border: 1px solid #dedede;
        }
      }
      .card-mini-padding{
        color: #a9a9a9;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        line-height: 25px;
      }
    }
  }
  #participate{
    background-color: #bdd1d8;
    padding: 40px 90px;
    text-align: center;
    h2{
      font-weight: 400;
      color: #133d4c;
    }
    p{
      font-size: 20px;
      font-weight: 300;
    }
  }
  #followees, #followers, #likes{ display: none; }
  .cover {
    background-position: top center;
    width: 100%;
    height: 395px;
    padding-top: 1px;
    position: relative;
    background-position: top center;
    background-size: 100% 100%;
    #event-admin-options {
      bottom: 20px;
      right: 20px;
      position: absolute;
    }
    #event-cover-info {
      position: absolute;
      bottom: 70px;
      left: 100px;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      .event-name{
        font-weight: 600;
        margin: 0;
      }
      .event-date{
        font-weight: 100;
        font-size: 22px;
        margin: 0 0 5px 0;
      }
      .event-location{
        font-weight: 100;
        font-size: 21px;
        margin: 0 0 5px 0;
      }
    }
  }
  .navbar.event-menu {
    border-bottom: 2px solid #364664;
    .navbar-inner {
      border-radius: 0;
      border: 0;
      >ul {
        width: 100%;
        >li {
          width: 352px;
          >a {
            text-align: center;
            background-color: #04a3e2;
            padding: 23px;
            color: #fff;
            text-shadow: 0 1px 0 #0382b5 !important;
            font-size: 16px;
            &.active {
              background-color: #00aeef;
              color: #fff;
              text-decoration: none;
            }
            &:hover,&:active,&:focus{
              background-color: #00aeef;
              text-decoration: none;
            }
          }
        }
        li.divider-vertical{
          width: 0;
          margin: 0;
          border-color: #24afe6;
        }
      }
    }
  }
}
#event-setup{
  margin-top: 60px;
  hr{
    margin: 30px auto;
    width: 50px;
    border-top-color: #B6B5B5;
  }

  #home-circle{
    // border: 2px solid #105935;
    // padding: 15px;
    // border-radius: 45px;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    // background-image: image-url('house.png');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: 50%;
    // filter: saturate(8);
    // -webkit-filter: saturate(8);
    // -moz-filter: saturate(8);
    // -ms-filter: saturate(8);
    // -o-filter: saturate(8);
  }
  #event-plans{
    text-align: center;
    >h3{
      // color: #9dceda;
      font-weight: 800;
      font-size: 40px;
      margin: 20px auto;
    }
    >p{
      font-size: 30px;
      line-height: 30px;
      color: #a0a0a0;
      font-weight: 100;
    }
    >strong{
      // color: #8b8b8b;
      font-size: 25px;
      // font-weight: normal;
      margin-bottom: 40px;
      display: block;
    }
    .plans{
      display: block;
      background-color: #eceff2;
      padding: 50px 100px;
      .plan {
        width: 80%;
        background-color: #57BC8A;
        color: #fff;
        border-radius: 5px;
        float: left;
        position: relative;
        display: block;
        padding: 0 10% 100px 10%;
        &:hover {
          text-decoration: none;
          background-color: #3cda8b;
        }
        .size {
          // color: #11512c;
          color: #fff;
          font-weight: 600;
          font-size: 25px;
          // text-shadow: -1px 0 1px #34c37c;
          margin-top: 25px;
        }
        h1 {
          // text-shadow: -1px 2px 1px #34c37c;
          font-size: 50px;
          font-weight: 600;
          margin-top: 35px;
          margin-bottom: 50px;
        }
        p{
          // text-shadow: -1px 2px 1px #34c37c;
          font-size: 21px;
          font-weight: 100;
          line-height: 21px;
        }
        .price{
          font-size: 40px;
          // text-shadow: -1px 2px 1px #34c37c;
          font-weight: 600;
          line-height: 46px;
          position: absolute;
          bottom: 20px;
          width: 80%;
          text-align: center;
        }
      }
    }
  }
  #event-form{
    display: none;
  }
}
