// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product_type_modal button{
  height: 120px;
  width: 120px;
  text-align: center;
}

#product_status_modal button{
  height: 120px;
  width: 120px;
  text-align: center;
}
#products-wrapper{
  margin: 0 auto;
  max-width: 1064px;
  width: 100%;
}
#welcome {
  #home-cover {
    background-image: image-url('homecover.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 486px;
    max-width: 1200px;
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    text-align: center;
    h1, h2 { color: #fff;}
    h2 { margin: 0; }
    small { display:block;color:#fff; text-align:center; margin: 0 auto;}
    #conoce-mas, #subir-producto {
      padding: 0 !important;
      width: 280px;
      height: 78px;
      margin: 50px 0 0 0;
      text-align: center;
      font-size: 20px;
      color: #fff;
      text-shadow: -1px 0 1px #646262;
      font-weight: bold;
      line-height: 78px;
      display: inline-block;
      letter-spacing: 1px;
      &:hover {
        text-decoration: none
      }
    }
    #conoce-mas{
      margin-right: 20px;
      &:hover {
        border-color: #E7E7E7;
        color: #E7E7E7 !important;
      }
    }
    #subir-producto {
      margin-left: 20px;
      background-color: #00ca74;
      border: 1px solid #04683d;
      border-radius: 5px;
      &:hover {
        background-color: #16AF6E;
      }
    }
  }
  h1{
    text-align: center;
    color: #fff;
    margin-top: 160px;
    font-size: 40px;
    line-height: 50px;
    text-shadow: -1px 0 1px #646262;
  }
  h2{
    color: #7f7f7f;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    margin: 40px 0;
  }
}
.navbar.sub-menu {
  .disabled {
    &:hover {
      cursor: default;
    }
  }
  margin-bottom: 80px;
  .navbar-inner {
    padding: 0;
    height: 66px;
    border: 1px solid #1970a2;
    background: #3cadee;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjYWRlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJmYTZlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzlmZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #3cadee 0%, #2fa6ea 50%, #239fe7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3cadee), color-stop(50%,#2fa6ea), color-stop(100%,#239fe7));
    background: -webkit-linear-gradient(top,  #3cadee 0%,#2fa6ea 50%,#239fe7 100%);
    background: -o-linear-gradient(top,  #3cadee 0%,#2fa6ea 50%,#239fe7 100%);
    background: -ms-linear-gradient(top,  #3cadee 0%,#2fa6ea 50%,#239fe7 100%);
    background: linear-gradient(to bottom,  #3cadee 0%,#2fa6ea 50%,#239fe7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cadee', endColorstr='#239fe7',GradientType=0 );
    >ul > li > a{
      display: block;
      padding: 21px;
      font-size: 20px;
      text-shadow: none !important;
      font-weight: 600;
      color: #1f475d;
      &:hover,&:focus,&:active{
        text-decoration: none;
      }
      &.active{
        color: #d8eaf5;
        text-decoration: underline;
      }
    }
  }
  .divider-vertical{
    height: 66px;
    border-left: 0;
    border-right: 1px solid #1970a2;
  }

  .dropdown {
    >a {
      display: block;
      padding: 21px;
      font-size: 20px;
      text-shadow: none !important;
      font-weight: 600;
      &:hover,&:focus,&:active{
        text-decoration: none;
      }
    }
    ul a {
      text-shadow: none !important;
    }
  }
}
.product-card{
  width: 240px;
  float: left;
  margin-right: 20px;
  margin-bottom: 26px;
  box-shadow: 0px 0px 9px -1px #ccc;
  .product-img-link{
    text-indent: -1500px;
    display: block;
    width: 240px;
    z-index: 10;
    color: transparent;
    overflow: hidden;
    height: 310px;
  }
  .product-card-info{
    min-height: 62px;
    border: 1px solid #e1e1e1;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding-top: 1px;
    a {
      color: #000;
      &:hover,&:active,&:active { text-decoration: none; }
    }
  }
  .product-card-name{
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
  }
  a.user {
    font-size: 13px;
    color: #000;
  }
  .product-card-image{
    border-radius: 5px 5px 0 0;
    position: relative;
    background-position: center center;
    width: 240px;
    .manuable-like {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      padding: 10px 14px;
      background-color: #239fe7;
      color: #fff;
    }
    .fbshare {
      position: absolute;
      bottom: 0;
      left: 42px;
      display: block;
      padding: 10px 14px;
      background-color: #282e3a;
      color: #fff;
    }
  }
}
.products-feed{
  .column {
    width: 22.7%;
    float: left;
    margin-left: 3.05%;
  }
  .column:first-child {
    margin-left: 0;
  }
  .column:nth-child(odd){
    .product-card {
      &:nth-child(odd) {
        .product-card-image {
          height: 195px
        }
      }
    }
    .product-card {
      &:nth-child(even) {
        .product-card-image {
          height: 310px;
        }
      }
    }
  }
  .column:nth-child(even){
    .product-card {
      &:nth-child(even) {
        .product-card-image {
          height: 195px
        }
      }
    }
    .product-card {
      &:nth-child(odd) {
        .product-card-image {
          height: 310px;
        }
      }
    }
  }
}
#crea-mercadito-banner {
  display: block;
  background-color: #2ac26a;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
  color: #fff;
  width: 236px;
  height: 370px;
  margin-bottom: 26px;
  text-align: center;
  text-shadow: -1px 0 1px #646262;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  &:hover {
      text-decoration: none;
      background-color: #16AF6E;
    }
  img {
    margin-top: 55px;
    margin-bottom: 20px;
  }
  hr{
    width: 37px;
    border-bottom: 0;
    margin: 12px auto 10px auto;
  }
  span {
    color: #fff;
    font-size: 20px;
    display: block;
    border-top: 1px solid #229b55;
    line-height: 73px;
    height: 74px;
  }
}
#upcoming-events, .user-events {
  background-color: #e2e9ef;
  padding: 30px 70px;
  h3 {
    margin: 0;
  }
  .event-banner{
    display: block;
    background-color: #fff;
    margin: 20px;
    text-align: left;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
    .event-banner-info-wrapper {
      padding: 15px 13px;
      img { width: auto; float: right; }
    }
    .event-banner-image {
      height: 135px;
      width: 100%;
    }
    .event-banner-name {
      font-weight: 600;
      color: #878686;
      font-size: 20px;
    }
    .event-banner-date {
      font-weight: 100;
      color: #908f8f;
      font-size: 15px;
    }
  }
  .current-location {
    font-size: 18px;
    color: #64635d;
    .fa {
      color: #239fe7;
    }
  }
}
.user-events{
  width: 500px;
  background-color: transparent;
  .event-banner {
    border: 1px solid #dadada;
  }
}

/* product popup */
.product:not(.product-card) {
  width: 480px;
  margin: 0 auto;
  h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    font-weight: 600;
  }
  h5 {
    color: #8f8f8f;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 20px;
    a{
      color: #8f8f8f;
      text-decoration: none;
    }
  }
  .product-options{
    a {
      display: block;
      width: 160px;
      height: 70px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      line-height: 65px;
      float: left;
      zoom: 1;
      &.manuable-like { background-color: #239fe7; }
      &.message { background-color: #282e3a; }
      &.fbshare { background-color: #456198; }
    }
  }
  .product-avatar{
    background-position: center center;
    background-repeat: no-repeat;
    width: 480px;
    height: 430px;
    border-radius: 3px 3px;
  }
  .product-description {
    min-height: 50px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
  }
}
.repairing-banner {
  color: white;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  padding: 1.5em 0 1.5em 0;
  display: block;
  position: static;
}

.repairing-banner a, .repairing-banner a:hover{
  color:white
}
