.user-option-panel dl { margin: 0; padding: 10px; }
.user-option-panel dl dt { text-transform: uppercase; font-size: 11px; color: #666; font-weight: bold; }
.user-option-panel dl dd { font-size: 14px;color: #888;margin: 0; padding: 2px 10px; }
.user-option-panel dl dd a { font-size: 14px; color: #888; text-decoration: none; }
.user-option-panel dl dd a i { margin-right: 5px; }
.user-option-panel dl dd.active { background: #f5f5f5; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  -ms-border-radius: 3px;}
.user-option-panel dl dd.active a { color: #333; font-weight: bold; }
