<h2>Mis Envios</h2>
<p>Aquí está toda la información de como puedo enviar</p>
<div class="shipping-provider-card">
	<h3>DHL</h3>
	<p>Aquí está la oferta de como generar un envio</p>
	<p>Texto</p>
	<ol>
		<li>Texto</li>
		<li>Texto</li>
		<li>Texto</li>
	</ol>
</div>
<div class="shipping-provider-card">
	<h3>Proveedor</h3>
	<p>Aquí está la oferta de como generar un envio</p>
</div>