%p
  Hola #{@resource.name}!
%p Alguien a solicitado el cambio de contraseña. Puedes hacer el cambio en la siguiente liga:
%p= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no solicitaste este cambio, ignora este correo.
