<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/manuableFramework.css">

<div id="product-details">
  <div class="container">
    <div class="row">
      <div class="product-controller">
        <a href="#" class="previous">Ver Anterior Producto |</a>
        <a href="#" class="next">Ver Siguiente Producto</a>
      </div>
    </div>
    <div class="row">
      <div class="product_images six columns">
        <img src="../../assets/images/bereassets/profile-avatar.png" class="img-responsive">
      </div>
      <div class="product_desc six columns">
        <h3 class="product-title">Cuadro Porcino </h3>
        <h3 id="product-price">$ 95.00</h3>
        <p class="desc">Bacon ipsum dolor amet shoulder biltong t-bone, leberkas tenderloin frankfurter salami porchetta jowl filet mignon andouille. Chuck drumstick salami, cow andouille frankfurter strip steak turducken short loin. Drumstick shoulder meatloaf, biltong bacon sirloin sausage short ribs corned beef pig jowl. Venison spare ribs porchetta biltong bresaola. Pig short loin ribeye pork chop shank alcatra bacon.</p>
        <div class="selector-div">
          Cantidad <input name="quantity" id="quantity" type="text" value="1">
        </div>
        <div class="product-actions">
          <div class="row">
            <div class="twelve columns">
              <a href="#" class="btn btn-main-cta">Agregar al Carrito</a>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <a href="" class="like"><i class="fa fa-heart"></i> Me gusta</a>
            </div>
            <div class="six columns">
              <a href=""><i class="fa fa-envelope"></i> Enviar Mensaje</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

