= yield
:javascript
  if( "object" === typeof window['#{[params[:controller].titleize.gsub(/[\/ ]/,""), params[:action].titleize].join("").gsub(" ","")}'] )
  window['#{[params[:controller].titleize.gsub(/[\/ ]/,""), params[:action].titleize].join("").gsub(" ","") }'].init();

