!!! 5
%html(lang="en")
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "/assets/emails/user_mailer.css" }
  %body
    .header
      = link_to image_tag('https://www.manuable.com/assets/logo-fff.png'), 'https://www.manuable.com'
    .content
      = yield
